<%- include('layouts/header') %>

<h1>Reset Your Password</h1>
<p>Please enter your new password below. Once saved, you can log in with this new password.</p>

<form action="/auth/reset-password/<%= token %>" method="POST" class="mb-3">
  <div class="mb-3">
    <label for="password" class="form-label">New Password</label>
    <input 
      type="password" 
      name="password" 
      id="password" 
      class="form-control"
      required
    >
  </div>

  <div class="mb-3">
    <label for="password2" class="form-label">Confirm New Password</label>
    <input 
      type="password" 
      name="password2" 
      id="password2" 
      class="form-control"
      required
    >
  </div>

  <button type="submit" class="btn btn-primary">Reset Password</button>
</form>

<%- include('layouts/footer') %>